
.listsListName{
    font-size: 28px;
    font-weight: bold;
    margin-top: 19px;
}

.listsList{
    width: 356px;
    height: 356px;
    border:1px dashed #000;
    margin:35px;

    &:first-of-type{
        background:#D980FA;
        opacity:0.65;
    }

    &:last-of-type{
        background:rgba(255,255,255,0.15);
        border:5px dashed #000;
    }
}