.Login{
    width: 535px;
    height: 80%;
    background:#D980FA;
    margin:150px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.loginHeader{
    font-size:34px;
    margin: 45px 0;
}

.loginInput{
    width: 80%;
    height:35px;
    margin: 20px auto;
    border-radius: 10px;
    border:none;
    
    &::placeholder{
        text-align: center;
    }
}

.loginButton{
    height: 65px;
    width: 135px;
    margin: 10px auto;
    margin-top: 20px;
}

.loginText{
    font-size: 18px;

    &:first-of-type{
        font-weight: bold;
        font-size: 21px;
    }
}

.register{
    font-size: 32px;
    text-decoration: none;
    color:green;
    margin:15px auto;

    &:hover{
        color:#fff;
        opacity:0.7;
    }
}